[submodule "element-queries"]
	path = element-queries
	url = https://github.com/georg-paul/element-queries.git
[submodule "rwd-objects"]
	path = rwd-objects
	url = https://github.com/georg-paul/rwd-objects.git
