@mixin rem($property, $value) {
	#{$property}: $value + 0px;
	#{$property}: 1 / 16 * $value + 0rem;
}

@mixin clear-after {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

@mixin hnav-small {
	> ul {
		display: none;
		float: none;
		width: 100%;
		> li {
			width: 100%;
			float: none;
			@include box-sizing(border-box);
			margin-right: 0 !important;
			margin-left: 0 !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
			border-left: 0 none !important;
			border-right: 0 none !important;
			margin-bottom: 1rem;
			&:hover {
				ul {
					position: static;
				}
			}
		}
	}
	.toggle {
		display: inline-block;
		cursor: pointer;
	}
}
@mixin stacked-columns {
	margin-left: 0 !important;
	margin-right: 0 !important;
	> .column {
		width: 100% !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		margin-bottom: 1rem;
	}
}

@mixin box-sizing($type) {
	box-sizing: $type;
	-moz-box-sizing: $type;
	-webkit-box-sizing: $type;
	-ms-box-sizing: $type;
}
@mixin transition($value) {
	-moz-transition: $value;
	-webkit-transition: $value;
	-o-transition: $value;
	transition: $value;
}