hr {
	font-weight: 700;
	@include rem(font-size, 32);
	line-height: 1;
	text-align: center;
	@include rem(margin-top, 30);
	@include rem(margin-bottom, 60);
	border: 0;
	padding: 0;
	height: 0;
	clear: both;
	display: block;
	&:after {
		content: '···';
		color: #bbb;
		letter-spacing: 1em;
		padding-left: 1em;
		height: 0;
	}
}