a:link {
	color: $a-color;
	text-decoration: $a-text-decoration;
}
a:visited {
	color: $a-color-visited;
	text-decoration: $a-text-decoration-visited;
}
a:hover {
	color: $a-color-hover;
	text-decoration: $a-text-decoration-hover;
}
a:focus {
	color: $a-color-focus;
	text-decoration: $a-text-decoration-focus;
}



p, pre, blockquote, ul, ol, dl, table, form {
	@include rem(margin-bottom, $text-flow-margin);
}

@for $h-type from 1 through 5 {
	h#{$h-type} {
		@include rem(font-size, nth($h-font-size, $h-type));
		@include rem(line-height, nth($h-line-height, $h-type));
		@include rem(margin-bottom, nth($h-margin-bottom, $h-type));
		font-weight: nth($h-font-weight, $h-type);
		text-transform: nth($h-text-transform, $h-type);
		color: nth($h-color, $h-type);
	}
}

.content-ul {
	list-style: $ul-bullet-position $ul-bullet-type;
	@include rem(margin-left, $ul-margin-left);
	li {
		@include rem(margin-bottom, $ul-li-margin-bottom);
		ul {
			@include rem(margin-left, $ul-margin-left);
			list-style: $ul-bullet-type-level-2;
			margin-bottom: 0;
		}
	}
}

.content-ol {
	list-style: $ol-bullet-position $ol-bullet-type;
	@include rem(margin-left, $ol-margin-left);
	li {
		@include rem(margin-bottom, $ol-li-margin-bottom);
		ol {
			@include rem(margin-left, $ol-margin-left);
			list-style: $ol-bullet-type-level-2;
			margin-bottom: 0;
		}
	}
}