@import "../styles/_default-config";
@import "../styles/_include-components";

// element queries demo styles
.demo-text.eq-max-width-2000.eq-min-width-400 { color: red; }
.demo-text.eq-max-width-600 { color: blue; }

// layout
.demo-header {
	@include rem(padding-top, 30);
	@include rem(padding-bottom, 30);
}

body > .main-section {
	&:nth-child(odd) {
		background: #f1f1f1;
		@include rem(padding-top, 70);
		@include rem(padding-bottom, 70);
	}
	.main-section:last-child { margin-bottom: 0; }
}