@import "../styles/_default-config";
@import "../styles/_include-components";

// element queries demo styles
.demo-text-1.eq-max-width-2000 { color: red; }
.demo-text-2.eq-min-width-600 { color: green; }
.demo-text-3.eq-min-width-600.eq-max-width-2000 { color: blue; }

// layout
.demo-header {
	background: $color-3;
	width: 100%;
	z-index: 10;
	font-family: Arial, sans-serif;
	a {
		color: #fff;
	}
	.no-side-by-side {
		.right {
			text-align: center;
			@include rem(padding-top, 15);
		}
	}
	.rwd-object-hnav {
		> ul {
			> li > a {
				border-left: 1px solid rgba(255,255,255,0.1);
			}
		}
		li {
			margin: 0;
			&:hover {
				a {
					background: $color-1;
					border-color: rgba(255,255,255,0.2);
					color: #fff;
				}
			}
			ul li a {
				text-transform: none;
				@include rem(padding-top, 15);
				@include rem(padding-bottom, 15);
				&:hover {
					background:  $color-3;
					color: #fff;
				}
			}
		}
		a {
			color: #fff;
			text-decoration: none;
			border-bottom: 1px solid transparent;
			@include rem(padding-top, 23);
			@include rem(padding-bottom, 23);
			@include rem(padding-left, 30);
			@include rem(padding-right, 30);
		}
		&.breakpoint-small {
			text-align: center;
			@include rem(padding-top, 10);
			@include rem(padding-bottom, 10);
			> ul {
				@include rem(margin-top, 10);
				border-top: 1px solid rgba(255,255,255,0.1);
				> li {
					margin-bottom: 0;
					text-align: center;
					> a {
						border-left: 0 none !important;
						@include rem(padding-top, 15);
						@include rem(padding-bottom, 15);
						border-bottom: 1px solid rgba(255,255,255,0.1);
					}
					ul li a {
						@include rem(padding-top, 10);
						@include rem(padding-bottom, 10);
						&:hover {
							background-color: #fff;
							color: $color-1;
						}
					}
				}
				&.append-to-flyout-1-slot-3-component-main-nav {
					display: none;
					// doesn't matter which property is set, it never gets applied
					//because the class is not added with javascript
				}
			}
		}
	}
	.right {
		line-height: 1;
		@include rem(padding-top, 23);
		@include rem(padding-bottom, 23);
		&.append-to-flyout-1-slot-2-component-secondary-nav {
			color: fuchsia;
			// doesn't matter which property is set, it never gets applied
			//because the class is not added with javascript
		}
	}
}

body > .main-section {
	margin-bottom: 0;
	@include rem(padding-top, 70);
	@include rem(padding-bottom, 70);
	border-bottom: 2px solid #eee;
	.main-section:last-child { margin-bottom: 0; }
}

.demo-hero {
	background-color: #f5f5f5;

	h1.clone-to-flyout-1-slot-1-component-intro {
		background: blue;
		// doesn't matter which property is set, it never gets applied
		//because the class is not added with javascript
	}
}

code {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 3px;
	display: inline-block;
	line-height: 2;
	margin: 0;
	max-width: 100%;
	overflow: auto;
	padding: 0 7px;
	vertical-align: middle;
	white-space: nowrap;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
}

#slider-with-columns-demo {
	&.eq-max-width-720 {
		.rwd-object-columns-3 {
			@include stacked-columns;
		}
	}
}

#columns-eq-demo {
	&.eq-max-width-600 {
		@include stacked-columns;
	}

	.rwd-object-columns-2 {
		&.eq-max-width-400 {
			@include stacked-columns;
		}
	}
}

.rwd-object-flyout {
	padding: 10px 20px;
	background-color: #ddd;
	.flyout-components {
		margin-top: 30px;
	}
}

.my-super-flyout {
	background-color: #354458;
	color: #fff;
	a {
		color: #fff;
	}

	.flyout-components {
		.component {
			border-bottom: 1px solid rgba(255,255,255,0.3);
			padding: 20px 10px;
		}
		.component-main-nav {
			ul { list-style: none; }
			> ul {
				margin-bottom: 0;
				> li > a { font-weight: bold; }
				a {
					color: #fff;
					text-decoration: none;
				}
			}
		}
		.component-intro {
			h1 {
				color: #fff;
				font-size: 26px;
				margin-bottom: 0;
			}
		}
	}
}

.second-move-to-demo-content {
	.rwd-object-media {
		&.eq-min-width-400.eq-max-width-450 {
			h3 { color: green; }
		}
		&.eq-max-width-310 {
			p { color: red; }
		}
	}
}

#example-nested-columns-and-slider {
	.rwd-object-slider.eq-max-width-711 {
		.rwd-object-columns-2 {
			@include stacked-columns;
		}
	}
}

.rwd-object-media .bd {
	&.eq-min-width-400 { font-size: 18px; }
}

#demo-media-bd-min-width {
	min-width: 500px;
}

#demo-slider-fade {
	.container {
		min-height: 437px;
	}
	&[data-state="loaded"] .container {
		min-height: 0;
	}
}