$spinner-bg-color-hex: #fff;
$spinner-color-r: 0;
$spinner-color-g: 0;
$spinner-color-b: 0;
$spinner-size: 40;

$base-font-size: 14;

$container-max-width: 960;
$container-side-space: 30;

$grid-columns: 12;
$grid-gutter: 30;

$hnav-margin: 25;

$media-margin: 25;
$media-text-min-width: 250;

$slider-margin: $grid-gutter;