
// rwd-boilerplate base configuration
$spinner-bg-color-hex: #fff;
$spinner-color-r: 0;
$spinner-color-g: 0;
$spinner-color-b: 0;
$spinner-size: 40;

$container-max-width: 960;
$container-side-space: 30;

$grid-columns: 12;
$grid-gutter: 30;

$hnav-margin: 25;

$media-margin: 25;
$media-text-min-width: 250;

$slider-margin: $grid-gutter;


// styleguide

// body
$body-color: #000;
$body-font-size: 16;
$body-line-height: 24;
$body-font-family: 'Myriad Pro', Arial, sans-serif;

// links
$a-color: #1E0FBE;
$a-color-visited: #1E0FBE;
$a-color-hover: #1E0FBE;
$a-color-focus: #1E0FBE;

$a-text-decoration: underline;
$a-text-decoration-visited: underline;
$a-text-decoration-hover: none;
$a-text-decoration-focus: none;

// headlines
$h-font-size: 45, 36, 26, 18, $body-font-size;
$h-line-height: 54, 44, 32, 21, 18;
$h-margin-bottom: 5, 5, 5, 5, 5;
$h-font-weight: 600, 400, 600, 600, 600;
$h-text-transform: uppercase, uppercase, uppercase, none, none;
$h-color: $body-color, $body-color, $body-color, $body-color, $body-color;

// type
$text-flow-margin: $body-font-size * 1.5;